{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["tsconfig*.json", "**/tsconfig*.json"],
      "options": {
        "parser": "json5",
        "singleQuote": false,
        "quoteProps": "preserve",
        "trailingComma": "none"
      }
    }
  ]
}
